<% @questions.each do |question| %>
  <ul>
    <li><%= question.questionable.title %>
    <%= link_to "Delete", form_question_path(form_id: @form.id, id: question.id), method: :delete %></li><br>
  </ul>
<% end %>

<%= link_to "Add Question[+]", new_form_question_path %>
