
<table>
  <tr>
    <% @response_headers.append("email").each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <% @responses.values.each do |response| %>
    <tr>
      <% response.each do |r| %>
        <td><%= r.response %></td>
      <% end %>
      <td><%= response.last.responder.email %></td>
    </tr>
  <% end %>
</table>
